.videoTile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 420px;
    margin-bottom: 10px;
}
.videoTile:last-of-type {
    margin-bottom: 0;
}

.videoTile__title,
.videoTile__views{
    display: flex;
    justify-content: space-between;  
}
.videoTile__title__value,
.videoTile__views__value {
    flex-grow: 2;
}   

.videoTile__title__text,
.videoTile__views__text{
    text-transform: uppercase;
    width: 80px;
}


.videoTile__title__value {
    width: calc(420px - 80px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}